@import "tailwindcss";

@layer utilities {
    @keyframes glow {
      0% { text-shadow: 0 0 4px #d6d30c, 0 0 8px #f8f407, 0 0 12px #f8f407; }
      50% { text-shadow: 0 0 8px #d6d30c, 0 0 16px #f8f407, 0 0 24px #f8f407; }
      100% { text-shadow: 0 0 3px #d6d30c, 0 0 7px #f8f407, 0 0 12px #f8f407; }
    }
  
    .animate-glow {
      animation: glow 3s infinite alternate ease-in-out;
    }
  }

.input-field { @apply w-full px-4 py-2 border border-gray-700 rounded-lg bg-gray-800 focus:outline-none focus:border-purple-500; }
